body{
    background-color: gray;
}

h1{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    color: white;
}

.myName{
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    background-color: rgb(63, 62, 62);
    align-items: center;
    justify-content: center;
    display: block;
}